

.clr-blue{
    background-color: powderblue;

}
.clr-yellow{
    color:yellow;
    font-weight: 'bold';
}
.box{
    background-color: black;
    border-style: double;
    padding-left:15px;
    margin-left:15px
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: blue;
    color:white;
}
